
.outer h1{
    width: 450px;
    font-size:40px;
    font-weight:normal ;
    margin-top: 60px;
    margin-left: 70px;
}
.para1{
   margin-top: 135px;
   margin-left: -450px;
   font-size: large;
   font-weight: 50px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.outer{
    background-color: #34D18D;
    width: 590px;
    height: 100vh;
}
